<div class="whole-page">
  <div *ngIf="errorString" class="main-area main-error">
    <div class="error-container">
      <div class="error-message">
        <code>{{errorString}}</code>
      </div>
    </div>
  </div>
  <div *ngIf="!errorString" class="main-area">
    <div class="title-container">
      Momments from meeting with Two Pillars
    </div>
    <div class="video-container">
      <div *ngIf="!isPalaying && !videoErrorMsg">
        <svg class="video-overlay-play-button" viewBox="0 0 400 400" alt="Play video">
          <circle cx="200" cy="200" r="90" fill="none" stroke-width="15" stroke="#fff"/>
          <polygon points="170, 155 170, 245 245, 200" fill="#fff"/>
        </svg>

      </div>
      <video *ngIf="!videoErrorMsg" class="video-display" (click)="toggleVideo()" #videoPlayer>
        <source [src]="videoSource" (error)="onVideoError()"
                type="video/mp4"/>
        Browser not supported
      </video>
      <div *ngIf="videoErrorMsg" class="video-error-msg error-container">
        <div class="error-message">
          {{videoErrorMsg}}
        </div>
      </div>
    </div>

    <div class="transcript-container">
      <app-transcript-display [transcript]="transcript"></app-transcript-display>
    </div>
  </div>
  <div class="logo-container">
    <img src="https://static.chorus.ai/images/chorus-logo.svg">
  </div>
</div>
